@import url("http://fonts.cdnfonts.com/css/pricedown");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html,
body {
  @apply h-screen bg-cover;
}

a {
  color: inherit;
  @apply no-underline;
}

* {
  @apply box-border;
}
::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-button {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply hidden;
}
::-webkit-scrollbar-track-piece {
  @apply hidden;
}
::-webkit-scrollbar-thumb {
  @apply hidden;
}
::-webkit-scrollbar-corner {
  @apply hidden;
}

.animate {
  animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
  0% {
    opacity: 0;
    transform: translateX(-250px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.animate2 {
  animation: myAnim2 1s ease 0s 1 normal forwards;
}
@keyframes myAnim2 {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }

  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }

  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }

  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }

  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }

  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }

  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
