@import url("https://fonts.cdnfonts.com/css/pricedown");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
html,
body {
  @apply h-screen select-none antialiased;
}

a {
  color: inherit;
  @apply no-underline;
}

* {
  @apply box-border;
}
::-webkit-scrollbar {
  @apply hidden;
}
::-webkit-scrollbar-button {
  @apply hidden;
}
::-webkit-scrollbar-track {
  @apply hidden;
}
::-webkit-scrollbar-track-piece {
  @apply hidden;
}
::-webkit-scrollbar-thumb {
  @apply hidden;
}
::-webkit-scrollbar-corner {
  @apply hidden;
}
.slide {
  animation: slide 1s ease 0s 1 normal forwards;
}
.fadeIn {
  animation: fadeIn 1s ease 0s 1 normal forwards;
}
.swing {
  animation: swing 1s ease 0s 1 normal forwards !important;
}
@keyframes swig {
  0% {
    opacity: 0;
    transform: rotateX(-100deg);
    transform-origin: top;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg);
    transform-origin: top;
  }
}
@keyframes slide {
  0% {
    opacity: 0;
    transform: translateY(-250px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@tailwind base;
@tailwind components;
@tailwind utilities;
